In [80]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_excel('vtas abr-Jun22.xls')
df

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,Cadereyta,NaN,Coahuila,NaN,Durango,NaN,Expos F,NaN,Laredo,...,Online,NaN,Queretaro,NaN,Reynosa,NaN,San Luis,NaN,NaN,NaN
1,NaN,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,...,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada,Total libre de impuestos,Ctdad Ordenada
2,Total,2425243.975,616,25556364.19,3923.5,789616.52,136.5,1425365.69,192.5,9963312.24,...,5400646.44,721,25689779.78,4305,5635591.85,731.5,16341428.88,2212,186262124.93,28220.5
3,01 abr 2022,NaN,NaN,293340.355,52.5,33364.555,7,NaN,NaN,89964.49,...,8358.945,3.5,200484.13,31.5,52678.465,7,427864.815,42,1542057.37,248.5
4,Producto 1,NaN,NaN,15389.535,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15389.535,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,Producto 42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104373.36,7
3614,Producto 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96722.325,3.5
3615,Producto 58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23055.725,3.5,NaN,NaN,NaN,NaN,23055.725,3.5
3616,Producto 104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31864.98,3.5,31864.98,3.5
3617,Producto 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44721.565,3.5,44721.565,3.5

In [82]:
df = df.drop(df.index[:3])

In [83]:
df['fecha'] = np.nan

In [84]:
df

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,fecha
3,01 abr 2022,NaN,NaN,293340.355,52.5,33364.555,7,NaN,NaN,89964.49,...,3.5,200484.13,31.5,52678.465,7,427864.815,42,1542057.37,248.5,NaN
4,Producto 1,NaN,NaN,15389.535,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15389.535,3.5,NaN
5,Producto 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35295.68,7,NaN
6,Producto 3,NaN,NaN,37488.08,7,NaN,NaN,NaN,NaN,NaN,...,NaN,18528.895,3.5,NaN,NaN,18528.895,3.5,200206.51,38.5,NaN
7,Producto 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,3.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,Producto 42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104373.36,7,NaN
3614,Producto 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96722.325,3.5,NaN
3615,Producto 58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23055.725,3.5,NaN,NaN,NaN,NaN,23055.725,3.5,NaN
3616,Producto 104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31864.98,3.5,31864.98,3.5,NaN
3617,Producto 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44721.565,3.5,44721.565,3.5,NaN

In [85]:
import re
pattern = r'\s*\d{2}\s+(ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic)\s+\d{4}\s*'
for i in range(len(df)):
    if re.match(pattern, str(df.iloc[i,0])):
        fecha = df.iloc[i,0]
    else:
        df.iloc[i,-1] = fecha

In [86]:
df

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,fecha
3,01 abr 2022,NaN,NaN,293340.355,52.5,33364.555,7,NaN,NaN,89964.49,...,3.5,200484.13,31.5,52678.465,7,427864.815,42,1542057.37,248.5,NaN
4,Producto 1,NaN,NaN,15389.535,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15389.535,3.5,01 abr 2022
5,Producto 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35295.68,7,01 abr 2022
6,Producto 3,NaN,NaN,37488.08,7,NaN,NaN,NaN,NaN,NaN,...,NaN,18528.895,3.5,NaN,NaN,18528.895,3.5,200206.51,38.5,01 abr 2022
7,Producto 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,3.5,01 abr 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,Producto 42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104373.36,7,30 jun 2022
3614,Producto 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96722.325,3.5,30 jun 2022
3615,Producto 58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23055.725,3.5,NaN,NaN,NaN,NaN,23055.725,3.5,30 jun 2022
3616,Producto 104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31864.98,3.5,31864.98,3.5,30 jun 2022
3617,Producto 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44721.565,3.5,44721.565,3.5,30 jun 2022

In [87]:
df = df.dropna(subset=['fecha'])

In [88]:
df.fecha.unique()

array(['     01 abr 2022', '     02 abr 2022', '     03 abr 2022',
       '     04 abr 2022', '     05 abr 2022', '     06 abr 2022',
       '     07 abr 2022', '     08 abr 2022', '     09 abr 2022',
       '     10 abr 2022', '     11 abr 2022', '     12 abr 2022',
       '     13 abr 2022', '     14 abr 2022', '     15 abr 2022',
       '     16 abr 2022', '     17 abr 2022', '     18 abr 2022',
       '     19 abr 2022', '     20 abr 2022', '     21 abr 2022',
       '     22 abr 2022', '     23 abr 2022', '     24 abr 2022',
       '     25 abr 2022', '     26 abr 2022', '     27 abr 2022',
       '     28 abr 2022', '     29 abr 2022', '     30 abr 2022',
       '     01 may 2022', '     02 may 2022', '     03 may 2022',
       '     04 may 2022', '     05 may 2022', '     06 may 2022',
       '     07 may 2022', '     08 may 2022', '     09 may 2022',
       '     10 may 2022', '     11 may 2022', '     12 may 2022',
       '     13 may 2022', '     14 may 2022', '     15 may 2022',
       '     16 may 2022', '     17 may 2022', '     18 may 2022',
       '     19 may 2022', '     20 may 2022', '     21 may 2022',
       '     22 may 2022', '     23 may 2022', '     24 may 2022',
       '     25 may 2022', '     26 may 2022', '     27 may 2022',
       '     28 may 2022', '     29 may 2022', '     30 may 2022',
       '     31 may 2022', '     01 jun 2022', '     02 jun 2022',
       '     03 jun 2022', '     04 jun 2022', '     05 jun 2022',
       '     06 jun 2022', '     07 jun 2022', '     08 jun 2022',
       '     09 jun 2022', '     10 jun 2022', '     11 jun 2022',
       '     12 jun 2022', '     13 jun 2022', '     14 jun 2022',
       '     15 jun 2022', '     16 jun 2022', '     17 jun 2022',
       '     18 jun 2022', '     19 jun 2022', '     20 jun 2022',
       '     21 jun 2022', '     22 jun 2022', '     23 jun 2022',
       '     24 jun 2022', '     25 jun 2022', '     26 jun 2022',
       '     27 jun 2022', '     28 jun 2022', '     29 jun 2022',
       '     30 jun 2022'], dtype=object)

In [89]:
df['fecha'] = df['fecha'].str.strip()
df.fecha.unique()

C:\Users\jesus\AppData\Local\Temp\ipykernel_52344\3829434174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.strip()

array(['01 abr 2022', '02 abr 2022', '03 abr 2022', '04 abr 2022',
       '05 abr 2022', '06 abr 2022', '07 abr 2022', '08 abr 2022',
       '09 abr 2022', '10 abr 2022', '11 abr 2022', '12 abr 2022',
       '13 abr 2022', '14 abr 2022', '15 abr 2022', '16 abr 2022',
       '17 abr 2022', '18 abr 2022', '19 abr 2022', '20 abr 2022',
       '21 abr 2022', '22 abr 2022', '23 abr 2022', '24 abr 2022',
       '25 abr 2022', '26 abr 2022', '27 abr 2022', '28 abr 2022',
       '29 abr 2022', '30 abr 2022', '01 may 2022', '02 may 2022',
       '03 may 2022', '04 may 2022', '05 may 2022', '06 may 2022',
       '07 may 2022', '08 may 2022', '09 may 2022', '10 may 2022',
       '11 may 2022', '12 may 2022', '13 may 2022', '14 may 2022',
       '15 may 2022', '16 may 2022', '17 may 2022', '18 may 2022',
       '19 may 2022', '20 may 2022', '21 may 2022', '22 may 2022',
       '23 may 2022', '24 may 2022', '25 may 2022', '26 may 2022',
       '27 may 2022', '28 may 2022', '29 may 2022', '30 may 2022',
       '31 may 2022', '01 jun 2022', '02 jun 2022', '03 jun 2022',
       '04 jun 2022', '05 jun 2022', '06 jun 2022', '07 jun 2022',
       '08 jun 2022', '09 jun 2022', '10 jun 2022', '11 jun 2022',
       '12 jun 2022', '13 jun 2022', '14 jun 2022', '15 jun 2022',
       '16 jun 2022', '17 jun 2022', '18 jun 2022', '19 jun 2022',
       '20 jun 2022', '21 jun 2022', '22 jun 2022', '23 jun 2022',
       '24 jun 2022', '25 jun 2022', '26 jun 2022', '27 jun 2022',
       '28 jun 2022', '29 jun 2022', '30 jun 2022'], dtype=object)

In [90]:
df['fecha'] = pd.to_datetime(df['fecha'], format='%d %b %Y').dt.strftime('%d-%m-%Y')

ValueError: time data '01 abr 2022' does not match format '%d %b %Y' (match)

In [78]:
meses = {
    'ene': 'enero',
    'feb': 'febrero',
    'mar': 'marzo',
    'abr': 'abril',
    'may': 'mayo',
    'jun': 'junio',
    'jul': 'julio',
    'ago': 'agosto',
    'sep': 'septiembre',
    'oct': 'octubre',
    'nov': 'noviembre',
    'dic': 'diciembre'
}

# Crear un DataFrame de ejemplo
# Convertir el formato de mes abreviado al formato completo en español
# Convertir el formato de mes abreviado al formato completo en español
df['fecha'] = df['fecha'].str.replace(r'\b(\s*\d{2}\s+\w{3}\s+\d{4})\b', lambda x: x.group(1).strip(), regex=True)
df['fecha'] = df['fecha'].str.replace(r'(\b\w{3}\b)', lambda x: meses.get(x.group(1)), regex=True)

# Convertir la columna 'Fecha' al tipo datetime
df['fecha'] = pd.to_datetime(df['fecha'], format='%d %B %Y', errors='coerce')

C:\Users\jesus\AppData\Local\Temp\ipykernel_52344\2964605741.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.replace(r'\b(\s*\d{2}\s+\w{3}\s+\d{4})\b', lambda x: x.group(1).strip(), regex=True)
C:\Users\jesus\AppData\Local\Temp\ipykernel_52344\2964605741.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = df['fecha'].str.replace(r'(\b\w{3}\b)', lambda x: meses.get(x.group(1)), regex=True)
C:\Users\jesus\AppData\Local\Temp\ipykernel_52344\2964605741.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] = pd.to_datetime(df['fecha'], format='%d %B %Y', errors='coerce')

In [79]:
df

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,fecha
4,Producto 1,NaN,NaN,15389.535,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15389.535,3.5,NaT
5,Producto 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35295.68,7,NaT
6,Producto 3,NaN,NaN,37488.08,7,NaN,NaN,NaN,NaN,NaN,...,NaN,18528.895,3.5,NaN,NaN,18528.895,3.5,200206.51,38.5,NaT
7,Producto 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,3.5,NaT
8,Producto 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28057.33,3.5,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,Producto 42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104373.36,7,NaT
3614,Producto 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96722.325,3.5,NaT
3615,Producto 58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23055.725,3.5,NaN,NaN,NaN,NaN,23055.725,3.5,NaT
3616,Producto 104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31864.98,3.5,31864.98,3.5,NaT
3617,Producto 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44721.565,3.5,44721.565,3.5,NaT

In [62]:
df[df.fecha=='     01 abr 2022']

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,fecha
4,Producto 1,NaN,NaN,15389.535,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15389.535,3.5,01 abr 2022
5,Producto 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35295.68,7,01 abr 2022
6,Producto 3,NaN,NaN,37488.08,7,NaN,NaN,NaN,NaN,NaN,...,NaN,18528.895,3.5,NaN,NaN,18528.895,3.5,200206.51,38.5,01 abr 2022
7,Producto 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25080.09,3.5,01 abr 2022
8,Producto 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28057.33,3.5,01 abr 2022
9,Producto 6,NaN,NaN,28754.95,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28754.95,3.5,01 abr 2022
10,Producto 7,NaN,NaN,20082.755,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23628.08,3.5,43710.835,7,01 abr 2022
11,Producto 8,NaN,NaN,26609.065,3.5,26609.065,3.5,NaN,NaN,28580.09,...,NaN,26765.375,3.5,NaN,NaN,NaN,NaN,108563.595,14,01 abr 2022
12,Producto 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29460.34,...,NaN,29460.34,3.5,NaN,NaN,NaN,NaN,58920.68,7,01 abr 2022
13,Producto 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41338.885,3.5,83772.64,7,198642.71,17.5,01 abr 2022
14,Producto 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26087.74,7,NaN,NaN,NaN,NaN,37922.22,10.5,01 abr 2022
15,Producto 12,NaN,NaN,58672.32,17.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58672.32,17.5,01 abr 2022
16,Producto 13,NaN,NaN,18798.885,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18798.885,3.5,01 abr 2022
17,Producto 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19754.245,3.5,NaN,NaN,NaN,NaN,19754.245,3.5,01 abr 2022
18,Producto 15,NaN,NaN,39223.625,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,38875.795,3.5,78099.42,7,01 abr 2022
19,Producto 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22154.825,3.5,01 abr 2022
20,Producto 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38331.825,3.5,01 abr 2022
21,Producto 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25903.185,3.5,25903.185,3.5,01 abr 2022
22,Producto 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,46751.67,3.5,NaN,NaN,NaN,NaN,46751.67,3.5,01 abr 2022
23,Producto 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50677.62,3.5,50677.62,3.5,01 abr 2022
24,Producto 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6843.97,...,NaN,7963.69,3.5,NaN,NaN,NaN,NaN,14807.66,7,01 abr 2022
25,NaN,NaN,NaN,NaN,NaN,6755.49,3.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51598.575,28,01 abr 2022
26,NaN,NaN,NaN,9239.23,3.5,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,11339.58,3.5,23144.205,10.5,69680.45,28,01 abr 2022
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14720.58,3.5,01 abr 2022
28,Producto 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25172.175,3.5,NaN,NaN,NaN,NaN,49145.67,7,01 abr 2022
29,Producto 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,163334.395,7,163334.395,7,01 abr 2022
30,Producto 24,NaN,NaN,39081.91,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39081.91,3.5,01 abr 2022

In [ ]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df

# Renombra las columnas
df = df.rename(columns={'Unnamed: 0':'product', 'Total':'Cadereyta_total_libreImpuestos', 'Unnamed: 2': 'Ctdad Ordenada', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22'})

# Muestra el DataFrame con las columnas renombradas
print(df)